


.header{
    color: #363636 ;
    height:  100%;
    text-align: center;
    border-radius: 15px;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid rgba(255,255, 255, .2);

}



/* Estilos para o vídeo de fundo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.box{
    color: black;
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 260px;
    text-shadow: white;

    padding: 50px;
    border-radius: 10px;
    text-align: center;

   margin-left: auto;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid rgba(255,255, 255, .2);

}

.box1{
   

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 2px solid rgba(255,255, 255, .2);

    margin-left: 10%;
}

.busca{
    margin-left: 90%;
}

button{
    border: 2px;
}

button:hover{
border-color: black;
border: 5px;

}

.button-delete{
border-color: red;
border: 2px;
border-radius: 15px;
}
.button-edit{
    border: 2px;
border-radius: 15px;
    border-color: blue;
}


.button-delete:hover{
    background-color: red;
}
.button-edit:hover{
    background-color: blue;
}

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
    align-items: center;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container1{
	
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #4F4F4F;
    padding: 8px 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    position: fixed;
   
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;

	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 10px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
